.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.dialogWizard {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 60vw;
  width: 90%;
  min-height: 80vh;
  max-height: 80vh;
  position: relative;
  z-index: 1001;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  animation: fadeIn 0.2s ease-in-out;
}

.closeDialogButton {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.closeDialogButton:hover {
  transform: scale(1.3);
  color: var(--primary-red);
}

.progressBarSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progressBarSection .steps {
  display: flex;
  justify-content: space-between;
}

.progressBarSection .steps .step {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.progressBackground {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--primary-grey);
  overflow: hidden;
}

.progress {
  height: 100%;
  background: var(--primary-red);
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.inputSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.viewContainer {
  width: 100%;
  flex: 1;
}

.createProductButton {
  background: var(--primary-red);
  align-self: center;
  color: #fff;
  width: 50%;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.25s ease, transform 0.15s ease;
}

.createProductButton:hover {
  background: #d62828;
  transform: translateY(-1px);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formGroup label {
  font-weight: 500;
  font-size: 0.95rem;
  color: #444;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s ease;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  border-color: #007bff;
}
.errorInput {
  border: 1px solid var(--error-red) !important;
  outline: none;
}

.inputErrorMessage {
  margin-top: 4px;
  font-size:0.8rem;
  color:  var(--error-red)
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}