.editorContainer {
	display: flex;
	flex-direction: column;
}

.label {
	font-weight: 500;
	font-size: 0.95rem;
	padding-bottom: 8px;
	color: #444;
}

.errorInput :global(.ql-toolbar.ql-snow),
.errorInput :global(.ql-container.ql-snow) {
	border: 1px solid var(--error-red) !important;
}

.inputErrorMessage {
	color: var(--error-red);
	font-size: 0.8rem;
	margin-top: 4px;
}