.adminProductSection{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.addProductButton{
	position: absolute;
	right: 50px;
	bottom: 50px;
	border: none;
	width: 154px;
	border-radius: 5px;
	height: 60px;
	background: var(--primary-red);
	color: white;
	font-family: var(--font-inter);
	font-weight: 600;
	font-size: 17px;
	transition: background 0.2s ease-in-out;
}
.addProductButton:hover{
	cursor: pointer;
	background: var(--primary-red-hover);
}
.addProductDialog{
	min-width: 50vw;
	min-height: 60vh;
	max-height: auto;
	max-width: 60vw;
	border: none;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	gap: 20px;
}
.closeDialogButton{
	position: absolute;
	right: 10px;
	top: 5px;
	background: none;
	font-size: 28px;
	border: none;
	transition: transform 0.2s ease-in-out;
}
.closeDialogButton:hover{
	cursor: pointer;
	transform: scale(1.5);
}
.progressBarSection{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.progressBackground{
	width: 100%;
	border-radius: 5px;
	background: var(--primary-grey);
	height: 10px;
}
.progress {
	height: 100%;
	background: var(--primary-red);
	border-radius: 5px;
	transition: width 0.3s ease-in-out;
}
.progressBarSection .steps{
	display: flex;
}
.progressBarSection .steps .step{
	background: none;
	border: none;
}